/*
Name: 			style.css
Written by: 	Ahmed Osama Bedawy - (https://github.com/ahmeddoosama)
*/
/* Public Colors */
/* Responsive */
/* Public Colors */
/***
*
====================================================================
    Global Settings
====================================================================
*
***/
html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.flex-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.paragraph {
  line-height: 1.8;
  letter-spacing: 0.025em;
  font-size: 13px;
  margin-bottom: 15px;
}

.small-title {
  font-weight: 700;
  font-size: 25px;
  color: #1F373D;
}

/* ========== Contain Sections style ========== */
/* Public Colors */
/* Responsive */
/* Public Colors */
/* ========== Sections ========== */
section {
  padding-top: 140px;
  padding-bottom: 80px;
}
section .section-title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 40px;
}
section .section-content {
  font-size: 13px;
  color: #1F373D;
}

.about .section-content .paragraph {
  margin-bottom: 15px;
}
.about .statistic .statistic-box {
  background-color: #F6F5F4;
  width: 36%;
  height: 200px;
  margin: 0 0 30px 30px;
  padding-top: 40px;
  text-align: center;
  font-weight: 700;
}
.about .statistic .statistic-box span {
  font-size: 40px;
  color: #FFCC01;
}

.appartments {
  background-color: #F6F5F4;
}
.appartments .appartment-card .appartment-body .appartment-details p {
  margin-bottom: 0;
}
.appartments .appartment-card .appartment-body .appartment-details .price p {
  color: #FFCC01;
  font-size: 18px;
  font-weight: 700;
}
.appartments .appartment-card .appartment-body .appartment-details .appartment-feature img {
  margin-right: 5px;
  margin-left: 15px;
}
.appartments .section-footer {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .appartments .section-footer {
    text-align: center;
    display: block;
  }
}

.works .section-title {
  padding-bottom: 10px;
}
.works p {
  line-height: 2rem;
}
.works .work-boxs {
  margin-top: 50px;
}
.works .work-boxs .work-box {
  overflow: hidden;
  color: #1F373D;
  transition: all 0.3s ease-in-out;
}
.works .work-boxs .work-box .work-box-number {
  position: relative;
}
.works .work-boxs .work-box .work-box-number span {
  position: absolute;
  top: -124px;
  left: -45px;
  font-size: 160px;
  font-weight: 700;
}
.works .work-boxs .work-box .work-box-body {
  padding-top: 100px;
  padding-bottom: 50px;
}
.works .work-boxs .work-box .work-box-body .work-box-title {
  display: flex;
  padding: 0 20px;
  font-weight: 700;
}
.works .work-boxs .work-box .work-box-body .work-box-title .title-num {
  margin-right: 15px;
}
.works .work-boxs .work-box .work-box-body .paragraph {
  padding: 0px 20px 0px 55px;
  font-size: 13px;
}
.works .work-boxs .work-box .work-box-body .work-box-links {
  font-weight: 700;
  text-decoration: underline;
  padding: 0px 10px 0px 55px;
}
.works .work-boxs .work-box:hover {
  background-color: #FFCC01;
}

.service .service-img {
  background: url(../images/others/services.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: -105px;
  height: 630px;
}
.service .service-info .paragraph {
  padding: 15px 0px 50px 0px;
}
@media only screen and (max-width: 991px) {
  .service .service-img {
    left: 0;
    margin-bottom: 20px;
  }
}

.agents {
  background-color: #F6F5F4;
}
.agents .agent-box .box-details .name {
  color: #FFCC01;
  font-weight: 700;
}
.agents .agent-box .box-details .social-links a:not(:last-child) {
  margin-right: 10px;
}

.add .add-img {
  height: 330px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 80px;
  background-image: url(../images/others/add.png);
}
.add .add-img .add-img-info {
  position: absolute;
  bottom: -30px;
  background-color: #FFCC01;
  width: 60%;
  padding: 20px 0;
  margin: 0 20%;
}
.add .add-img .add-img-info img {
  margin-right: 20px;
}
.add .add-img .add-img-info span {
  font-size: 18px;
  font-weight: 700;
  color: #1F373D;
}
.add .add-img.img2 {
  float: right;
}
.add .add-img.img2 .add-img-info {
  left: 150px;
}
.add .add-info .paragraph {
  padding: 15px 0px 50px 0px;
}
@media only screen and (min-width: 1200px) {
  .add .add-img {
    width: 540px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .add .add-img.img2 {
    float: unset;
  }
}
@media only screen and (max-width: 991px) {
  .add .add-img .add-img-info {
    width: 80%;
    margin: 0 10%;
  }
  .add .add-img.img2 {
    float: unset;
  }
  .add .add-img.img2 .add-img-info {
    left: 0;
  }
}

/* ========== Contain Sections style ========== */
/* Public Colors */
/* Responsive */
/* Public Colors */
/* ========== Forms ========== */
form {
  display: flex;
  box-shadow: 0px 10px 15px 0px rgba(29, 31, 36, 0.1);
}
form .input-search {
  width: 75%;
  background: url(../images/icons/search.svg) no-repeat 8px 8px;
  border: 0;
  background-color: #FFF;
  padding: 25px 40px;
  font-size: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-position: left 15px top 29px;
}
@media only screen and (max-width: 767px) {
  form {
    width: 300px;
  }
}

.subscribe-form .input-search {
  background-image: unset;
  border-radius: 0;
}
.subscribe-form .search-btn {
  background-color: #F6F5F4;
  border-radius: 0;
}
.subscribe-form .search-btn:hover {
  background-color: #FFCC01;
}

/* ========== Contain Button style ========== */
/* Public Colors */
/* Responsive */
/* Public Colors */
/* ========== Button ========== */
.getting-started-btn {
  background-color: #FFCC01;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #FFCC01;
}
.getting-started-btn:hover {
  background-color: #FFF;
}

.search-btn {
  background-color: #FFCC01;
  width: 25%;
  color: #1F373D;
  padding: 25px 10px;
  font-size: 15px;
  font-weight: 700;
}
.search-btn:hover {
  background-color: #ffde59;
}

.search-all-btn {
  margin-left: 50px;
  border-radius: 5px;
  background-color: #FFF;
}
.search-all-btn:hover {
  background-color: #FFCC01;
}
@media only screen and (max-width: 767px) {
  .search-all-btn {
    margin-left: 0;
    width: 75%;
    margin-top: 20px;
    padding: 15px 20px;
  }
}

.btn-more {
  background-color: #1F373D;
  color: #FFF;
  border-radius: 0;
  padding: 20px 60px;
  font-weight: 700;
}
.btn-more:hover {
  color: #FFF;
  background-color: #FFCC01;
}

/* ========== Contain Cards style ========== */
/* Public Colors */
/* Responsive */
/* Public Colors */
/* Responsive */
/* ========== Cards ========== */
.box {
  box-shadow: 0px 2px 8px 0px rgba(24, 49, 56, 0.15);
  margin-bottom: 30px;
}
.box .box-title {
  font-size: 15px;
  font-weight: 700;
  color: #1F373D;
  letter-spacing: 0;
  line-height: 20px;
}
.box .box-body {
  background-color: #FFF;
  padding: 25px 20px;
}
.box .box-body .box-details {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

/* ========== Contain Header style ========== */
/* Public Colors */
/* Responsive */
/* Public Colors */
/* ========== Header ========== */
header .wrapper {
  position: relative;
  padding-top: 80px;
  height: 725px;
}
header .wrapper .content {
  width: 50%;
  height: 30vh;
  position: absolute;
  z-index: 999;
  top: 23vh;
}
header .wrapper .content h1 {
  font-size: 55px;
  font-weight: 700;
  color: #1F373D;
}
header .wrapper .content form {
  margin-top: 40px;
}
header .wrapper .img-wrapper {
  width: 88%;
  background: url("../images/background/bg.png") no-repeat;
  height: 640px;
  background-size: cover;
  background-position: center;
  position: relative;
  right: -60px;
  float: right;
}
header .wrapper .img-wrapper .wrapper-info {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #FFCC01;
}
header .wrapper .img-wrapper .wrapper-info .info {
  margin: 5px 35px;
}
header .wrapper .img-wrapper .wrapper-info .info .txt-info {
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
}
header .wrapper .slide-down {
  width: 20px;
  height: 65px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
header .wrapper .slide-down a p {
  transform: rotate(-90deg);
  font-size: 12px;
  white-space: nowrap;
  color: #919EB1;
}
@media only screen and (max-width: 767px) {
  header .wrapper .content {
    width: 85%;
  }
  header .wrapper .content h1 {
    font-size: 30px;
  }
  header .wrapper .content form {
    width: 300px;
  }
  header .wrapper .img-wrapper {
    right: -10px;
  }
  header .wrapper .img-wrapper .wrapper-info {
    display: block !important;
  }
  header .wrapper .img-wrapper .wrapper-info .info:first-child {
    border-bottom: 1px solid #1F373D;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  header .wrapper .content {
    width: 85%;
  }
  header .wrapper .content h1 {
    font-size: 45px;
  }
  header .wrapper .content form {
    width: 400px;
  }
  header .wrapper .img-wrapper {
    right: -30px;
  }
}

/* ========== Contain Navbar style ========== */
/* Public Colors */
/* Responsive */
/* Public Colors */
/* ========== Navbar ========== */
.navbar {
  background-color: #FFF;
  z-index: 9999;
  position: fixed;
  width: 100%;
}
.navbar .navbar-brand {
  font-weight: 500;
  font-size: 25px;
}
.navbar .navbar-nav {
  margin: auto;
}
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
  color: #FFCC01;
}
.navbar .registration .join-us {
  margin-right: 10px;
}
.navbar .navbar-toggler {
  border: 0;
}
@media only screen and (max-width: 991px) {
  .navbar .navbar-collapse {
    text-align: center;
    font-size: 20px;
  }
}

/* ========== Contain Footer style ========== */
/* Public Colors */
/* Responsive */
/* Public Colors */
/* ========== Footer ========== */
footer {
  background-color: #1F373D;
  padding: 65px 0;
  color: #FFF;
}
footer .small-title {
  color: #FFF;
}
footer .footer-top {
  padding-bottom: 45px;
  border-bottom: 1px solid #919EB1;
}
footer .footer-bottom {
  padding-top: 60px;
}
footer .footer-bottom .footer-logo .small-title {
  margin-bottom: 35px;
}
footer .footer-bottom .footer-column .footer-column-title {
  color: #919EB1;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 35px;
}
footer .footer-bottom .footer-column ul li {
  font-size: 13px;
  padding-bottom: 18px;
}
footer .footer-bottom .footer-column ul li a:hover {
  color: #FFCC01;
}

/*# sourceMappingURL=style.css.map */
