// desc: 'Contain all website Colors for sections and headlines and divs and main inheritance for others'

/* Public Colors */
$black: #000;
$white: #FFF;

// Primary
$yellow: #FFCC01;
$darkBlue: #1F373D;
$hover-yellow: rgb(255, 222, 89);

// Neutral
$Light-gray: #919EB1;
$Light-grayish-blue: #F6F5F4;