// desc: 'Contain all website Colors for sections and headlines and divs and main inheritance for others'

/* Public Colors */
$black: #000;
$white: #FFF;

// Primary
$yellow: #FFCC01;
$darkBlue: #1F373D;

// Neutral
$Light-gray: hsl(0, 0%, 81%);
$Light-grayish-blue: hsl(210, 46%, 95%);