/* ========== Contain Sections style ========== */
@import './variables';
@import './colors';

/* ========== Sections ========== */
section {
    padding-top: 100px;
    padding-bottom: 60px;
    .section-title {
        font-size: 40px;
        font-weight: $font-weight-700;
        padding-bottom: 40px;
    }
    .section-content {
        font-size: 13px;
        color: $darkBlue;
    }
    @media only screen and (max-width: 767px) {
        .section-title {
            font-size: 28px;
        }
    }
}

//About Section
.about {
    padding-top: 140px;
    .section-content {
        margin-bottom: 20px;
        .paragraph {
            margin-bottom: 15px;
        }
    }

    .statistic {
        .statistic-box {
            background-color: $Light-grayish-blue;
            width: 36%;
            height: 200px;
            margin: 0 0 30px 30px;
            padding-top: 40px;
            text-align: center;
            font-weight: $font-weight-700;
            span {
                font-size: 40px;
                color: $yellow;
            }
        }
    }
}

//Appartments Section
.appartments {
    background-color: $Light-grayish-blue;
    .appartment-card {
        .appartment-img {
            img {
                width: 100%;
            }
        }
        .appartment-body {
            .appartment-details {
                p {
                    margin-bottom: 0;
                }

                .price {
                    p {
                        color: $yellow;
                        font-size: 18px;
                        font-weight: $font-weight-700;
                    }
                }

                .appartment-feature {
                    img {
                        margin-right: 5px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    .section-footer {
        display: flex;
        form {
            width: 50%;
        }
    }
    @media only screen and (max-width: 767px) {
        .section-footer {
            text-align: $text-align-center;
            display: block;
            form {
                width: 100%;
            }
        }
    }
}

//works Section
.works {
    padding-bottom: 0;
    .section-title {
        padding-bottom: 10px;
    }
    p {
        line-height: 2rem;
    }
    .work-boxs {
        margin-top: 50px;
        .work-box {
            overflow: hidden;
            color: $darkBlue;
            transition: all 0.3s ease-in-out;
            margin-bottom: 30px;
            .work-box-number {
                position: relative;
                span {
                    position: absolute;
                    top: -124px;
                    left: -45px;
                    font-size: 160px;
                    font-weight: $font-weight-700;
                }
            }
            
            .work-box-body {
                padding-top: 100px;
                padding-bottom: 50px;
                .work-box-title {
                    display: flex;
                    padding: 0 20px;
                    font-weight: $font-weight-700;
                    .title-num {
                        margin-right: 15px;
                    }
                }
                .paragraph {
                    padding: 0px 20px 0px 55px;
                    font-size: 13px;
                }

                .work-box-links {
                    font-weight: $font-weight-700;
                    text-decoration: underline;
                    padding: 0px 10px 0px 55px;
                }
            }
            &:hover {
                background-color: $yellow;
            }
        }
    }
}

//Service  Section
.service {
    .service-img {
        background: url(../images/background/10.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        left: -105px;
        height: 630px;
    }
    .service-info {
        .paragraph {
            padding: 15px 0px 50px 0px;
        }
    }
    @media only screen and (max-width: 991px) {
        .service-img {
            left: 0;
            margin-bottom: 20px;
        }
    }
}


//agents section
.agents {
    background-color: $Light-grayish-blue;
    .agent-group {
        margin-top: 60px;
        .agent-box {
            .agent-img {
                img {
                    width: 100%;
                }
            }
            .box-details {
                .name {
                    color: $yellow;
                    font-weight: $font-weight-700;
                }
                .social-links {
                    a:not(:last-child) {
                        margin-right: 10px;
                    }
                    a:hover {
                        opacity: .6;
                    }
                }
            }
        }
    }
}

//Add Section
.add {
    .add-img {
        height: 330px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 80px;
        .add-img-info {
            position: absolute;
            bottom: -30px;

            background-color: $yellow;
            width: 60%;
            padding: 20px 0;
            margin: 0 20%;
            img {
                margin-right: 20px;
            }

            span {
                font-size: 18px;
                font-weight: $font-weight-700;
                color: $darkBlue;
            }
        }
        &.img1 {
            background-image: url(../images/apertments/11.jpg);
        }
        &.img2 {
            background-image: url(../images/apertments/12.jpg);
            float: right;
            .add-img-info {
                left: 150px;
            }
        }
        &.img3 {
            background-image: url(../images/apertments/13.jpg);
        }
    }
    .add-info {
        .paragraph {
            padding: 15px 0px 50px 0px;
        }
    }
    
    @media only screen and (min-width: 1200px) {
        .add-img {
            width: 540px;
        }
    }

    @media only screen and (min-width: 991px) and (max-width: 1200px) {
        .add-img {
            &.img2 {
                float: unset;
            }
        }
    }

    @media only screen and (max-width: 991px) {
        .add-img {
            .add-img-info {
                width: 80%;
                margin: 0 10%;
            }
            &.img2 {
                float: unset;
                .add-img-info {
                    left: 0;
                }
            }
        }
    }
}