// desc: 'Contain all website initial values for sections and headlines and divs and main inheritance for others'
@import "colors";


// Text Aligns
$text-align-center: center;
$text-align-start: start;
$text-align-end: end;
