/* ========== Contain Navbar style ========== */
@import '../partials/variables';
@import '../partials/colors';

/* ========== Navbar ========== */
.navbar {
    background-color: $white;
    z-index: 9999;
    position: fixed;
    width: 100%;

    .navbar-brand {
        font-weight: $font-weight-500;
        font-size: 25px;
        &:hover {
            color: $yellow;
        }
    }

    .navbar-nav {
        margin: auto;
        .nav-link {
            &:hover,
            &:focus {
                color: $yellow;
            }
        }
    }

    .registration {
        .join-us {
            margin-right: 10px;
        }
    }

    .navbar-toggler {
        border: 0;
    }

    @media only screen and (max-width: 991px) {
        .navbar-toggler{
            &:focus {
                box-shadow: none;
            }
        }
        .navbar-collapse {
            text-align: center;
            font-size: 20px;
            padding: 10px 0 20px 0;
        }
    }
}