/* ========== Contain Button style ========== */
@import '../partials/variables';
@import '../partials/colors';

/* ========== Button ========== */


// getting-started-btn
.getting-started-btn {
    background-color: $yellow;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid $yellow;
    &:hover {
        background-color: $white;
    }
}

// search-btn
.search-btn {
    background-color: $yellow;
    width: 25%;
    color: $darkBlue;
    padding: 25px 10px;
    font-size: 15px;
    font-weight: $font-weight-700;
}