/* ========== Contain Button style ========== */
@import '../partials/variables';
@import '../partials/colors';

/* ========== Button ========== */


// getting-started-btn
.getting-started-btn {
    background-color: $yellow;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid $yellow;
    &:hover {
        background-color: $white;
    }
}

// search-btn
.search-btn {
    background-color: $yellow;
    width: 25%;
    color: $darkBlue;
    padding: 25px 10px;
    font-size: 15px;
    font-weight: $font-weight-700;
    &:hover {
        background-color: $hover-yellow;
    }
}

// search-all-btn
.search-all-btn {
    margin-left: 50px;
    border-radius: 5px;
    background-color: $white;
    &:hover {
        background-color: $yellow;
    }
    @media only screen and (max-width: 767px)  {
        margin-left: 0;
        width: 75%;
        margin-top: 20px;
        padding: 15px 20px;
    }
}

// btn-more
.btn-more {
    background-color: $darkBlue;
    color: $white;
    border-radius: 0;
    padding: 20px 60px;
    font-weight: $font-weight-700;
    &:hover {
        color: $white;
        background-color: $yellow;
    }
}